
<div class="container">
    <div class="row well">
        <div class="col-md-2">
                <img src="template/images/about.jpg" alt="about" class="img-circle">
            </div>
        <div class="col-md-10"><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, odio qui sed in dolores error itaque fugiat architecto corrupti, quibusdam nulla libero. Dolorum quae sint accusamus vitae optio veritatis! Deleniti. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius porro ipsa dicta, cumque voluptates unde nemo, dolore incidunt doloribus distinctio architecto eos praesentium in, adipisci deleniti pariatur officia ducimus mollitia.</p>
        </div>
    </div>
    <div class="row">
        <div id="bars">
            <div class="bar" data-percent="100">
                <h3>CSS</h3>
                <canvas class="bar-circle" width="70" height="70"></canvas>
            </div>
            <div class="bar" data-percent="100">
                <h3>HTML5</h3>
                <canvas class="bar-circle" width="70" height="70"></canvas>
            </div>
            <div class="bar" data-percent="80">
                <h3>JavaScript</h3>
                <canvas class="bar-circle" width="70" height="70"></canvas>
            </div>
            <div class="bar" data-percent="30">
                <h3>PHP</h3>
                <canvas class="bar-circle" width="70" height="70"></canvas>
            </div>
            <div class="bar" data-percent="30">
                <h3>Server</h3>
                <canvas class="bar-circle" width="70" height="70"></canvas>
            </div>
        </div>	
    </div>
    <div class="row">
        <center><img src="template/images/sert1.png" alt="" class="img-responsive"></center>
    </div>
</div>
{% include 'footer.html' %}